Servicios/xml-resources/web-service-references/EmpresaCessa/wsdl/localhost_18749/EmpresaCessa.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getdeuda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idc" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getdeudaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getdeudaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getdeudaSoapIn">
    <wsdl:part name="parameters" element="tns:getdeuda" />
  </wsdl:message>
  <wsdl:message name="getdeudaSoapOut">
    <wsdl:part name="parameters" element="tns:getdeudaResponse" />
  </wsdl:message>
  <wsdl:portType name="EmpresaCessaSoap">
    <wsdl:operation name="getdeuda">
      <wsdl:input message="tns:getdeudaSoapIn" />
      <wsdl:output message="tns:getdeudaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmpresaCessaSoap" type="tns:EmpresaCessaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getdeuda">
      <soap:operation soapAction="http://tempuri.org/getdeuda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmpresaCessaSoap12" type="tns:EmpresaCessaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getdeuda">
      <soap12:operation soapAction="http://tempuri.org/getdeuda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpresaCessa">
    <wsdl:port name="EmpresaCessaSoap" binding="tns:EmpresaCessaSoap">
      <soap:address location="http://localhost:18749/EmpresaCessa.asmx" />
    </wsdl:port>
    <wsdl:port name="EmpresaCessaSoap12" binding="tns:EmpresaCessaSoap12">
      <soap12:address location="http://localhost:18749/EmpresaCessa.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>